#UserDetails,
.BottomPanel {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(150, 150, 150, 0.4);
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(150, 150, 150, 0.2);
  padding: 1.5rem;
  line-height: 1.3rem;
}

#BackButtonUser {
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: inherit;
  background-color: rgb(243, 243, 243);
  width: fit-content;
  padding: 0.5rem;
}

#BackButtonUser:hover {
  background-color: rgb(226, 226, 226) ;
}

#UserDetails .LeftPanel {
  /* border: 1px solid green; */
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#UserDetails .LeftPanel img {
  margin-bottom: 1rem;
}

#UserDetails .RightPanel {
  /* border: 1px solid red; */
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid rgba(150, 150, 150, 0.4);
  padding-left: 1rem;
}

#UserDetails .RightPanel p {
  border-bottom: 1px solid rgba(150, 150, 150, 0.4);
  margin: 0.5rem 0;
}

#userinfo-button-container {
  padding: 0;
  margin: 1rem 0;
}

#userinfo-button-container a {
  position: relative;
  background-color: #333;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
}

.BottomPanel ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.BottomPanel ul > li {
  margin: 0 0.5rem;
}