#Search-Form {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}

#Search-Form .button {
  margin: 0;
  border: none;
}

#Search-Form input {
  margin: 0.5rem 0;
  font-size: large;
}

#Search-Form input[name="text"] {
  padding: 0.3rem;
  font-size: large;
}

.clearButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.clearButtonContainer button {
  width: 100%;
  border: none;
  color: #fff;
  padding: 0.5rem;
  font-size: large;
  background-color: rgb(163, 163, 163);
}

.clearButtonContainer button:hover {
  background-color: rgba(211, 211, 211, 0.5);
}