#NavbarContainer {
  background-color: #fff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  border-bottom: var(--borders);
  width: 100%;
  height: var(--nav-height);
  padding: var(--nav-padding) 3rem;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

#NavbarContainer svg {
  font-size: 1.5rem;
}

#NavbarContainer .LeftContainer,
#NavbarContainer .RightContainer {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}

#NavbarContainer .LeftContainer {
  justify-content: flex-start;
  align-items: center;
}

#NavbarContainer .LeftContainer p {
  font-size: 1.5rem;
}

#NavbarContainer .RightContainer {
  justify-content: flex-end;
}
