#ContactContainer {
  background-color: #fff;
}

.Contacts {
  border: 1px solid lightgray;
  background-color: aliceblue;
  margin: 1rem 0;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Contacts .Left {
  display: flex;
  flex-direction: column;
}

.Contacts .Left p {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Contacts .Left h1 {
  color: darkblue;
  margin-bottom: 0.5rem;
}

.Contacts .Left .ButtonContainer {
  display: flex;
  gap: 0.5rem;
}

.Contacts .Left .ButtonContainer button {
  background-color: rgb(167, 49, 49);
  font-size: 0.8rem;
  color: #fff;
  padding: 0.1rem 1rem;
  border: none;
  margin-top: 0.5rem;
  cursor: pointer;
}

.Contacts .Left .ButtonContainer button:last-child {
  opacity: 0.5;
}

.Contacts .Left .ButtonContainer button:last-child:hover {
  opacity: 1;
  background-color: red;
}

.Contacts .Left .ButtonContainer button:first-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid black;
  color: #fff;
  background-color: transparent;
  background-color: #333;
}

.Contacts .Left .ButtonContainer button:first-child:hover {
  background-color: darkblue;
  color: #fff;
}

.Contacts .Right {
  display: flex;
  justify-content: flex-end;
}

.Contacts .Right p {
  font-size: 0.8rem;
}
